.nav {
  height: 80px;
  width: 100%;
  background-color: rgb(48, 48, 48);
  padding: 20px;

  .navUl {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;

    .navListItem {
      padding: 10px 20px;
      cursor: pointer;
    }

    .navListItem:hover {
      background-color: green;
    }
  }
}
